body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('motivation-background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.title-container {
    position: relative;
    text-align: center;
}

h1 {
    display: inline-block;
    margin: 0;
}

.iconAim {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
p {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 30px;
    font-weight: bold;
    color: #333;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}